<h1>Email Verification</h1>
<p>
    Thanky you, {{ subscription.firstName }} {{ subscription.lastName }}. Please click on the following link to verify, that you signed the letter:
    <a href="{{ url('campaign_verification', {'token': token}) }}">{{ url('campaign_verification', {'token': token}) }}</a>
</p>

