{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="templateContainer">
        {% if error is defined %}
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger">
                        <strong>Error:</strong>&nbsp;{{ error }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col mt-20">
                <h1>ScientistsForFuture</h1>
                <p class=" mt-20">
                    <strong>Thank you for supporting the Scientists For Future International letter!&nbsp;</strong><br/>
                    We invite:<br/>
                <ul>
                    <li>all scholars, researchers,&nbsp;and scientists,</li>
                    <li>active as well as formerly active and</li>
                    <li>from all disciplines.</li>
                </ul>
                <br/>
                <strong>IMPORTANT: By adding your name and email address, you are&nbsp;signing the declaration&nbsp;below. Your name with degree and titles, institution,
                    department, city and country (but not the email address&nbsp;or other information) will be published.&nbsp;</strong><br/>
                <br/>
                In order to sign, one must have an advanced degree (master, magister, etc.) and either an academic title (Ph.D., Prof., etc.) or scholarly references (e.g.,
                scientific or scholarly publications, or being a graduate student working toward a Ph.D. or similar). The list of signatories will make it clear that all
                signatories speak on their own behalf, not on behalf of their affiliated institutions. However, we encourage signatories to consider the policies and wishes of
                their institutions. Providing your affiliation, while encouraged, is optional.<br/>
                <br/>
                <strong>If you have a Ph.D.,&nbsp;Dr., or Professorship, you can skip the questions about publications, webpages or personal references!</strong><br/>
                <br/>
                Your signature will <strong>ONLY COUNT after you have responded to a confirmation email.</strong>&nbsp;The confirmation email may arrive only after <strong>15
                    minutes</strong>. If it still has not arrived, please check&nbsp;your Spam or Promotion folders. If your organization is withholding suspected spam from
                you,
                please <strong>try to sign again using a private email account.</strong> MailChimp is a valid service, respecting data privacy laws and used by many respected
                institutions, and seemed our best option.<br/>
                <br/>
                </p>
                <hr/>
                <p><span style="font-size:18px"><strong>The Concerns of the Young Climate Protesters are Justified</strong></span></p>

                <p>The world’s youth have begun to persistently demonstrate for the protection of the climate and other foundations of human well-being. As scientists and scholars
                    across all disciplines and from the entire world, we declare:&nbsp;<strong>Their concerns are justified and supported by the best available science. The current
                        measures for protecting the climate and biosphere are deeply inadequate.</strong></p>

                <p>Nearly every country has signed and ratified the Paris Agreement of 2015, committing under international law to holding global warming well below 2°C above
                    pre-industrial levels and pursuing efforts to limit the temperature increase to 1.5°C. The scientific community has clearly concluded that a global warming of
                    2°C instead of 1.5°C would substantially increase climate-related impacts and the risk of some becoming irreversible. Moreover, given the uneven distribution of
                    most impacts, 2°C of warming would further exacerbate existing global inequalities.</p>

                <p>It is critical to immediately begin a rapid reduction in CO<sub>2</sub> and other greenhouse gas emissions. The degree of climate crisis that humanity will
                    experience in the future will be determined by our cumulative emissions; rapid reduction now will limit the damage. For example, the Intergovernmental Panel on
                    Climate Change (IPCC) has recently assessed that halving CO<sub>2</sub> emissions by 2030 (relative to 2010 levels) and globally achieving net-zero
                    CO<sub>2</sub> emissions by 2050 (as well as strong reductions in other greenhouse gases) would allow a 50% chance of staying below 1.5°C of warming.<br/>
                    Considering that industrialized countries produced more of and benefited more from previous emissions, they have an ethical responsibility to achieve this
                    transition more quickly than the world as a whole.</p>

                <p>Many social, technological, and nature-based solutions already exist. The young protesters rightfully demand that these solutions be used to achieve a
                    sustainable society. Without bold and focused action, their future is in critical danger. There is no time to wait until they are in power.</p>

                <p>Politicians have the huge responsibility of creating the necessary framework conditions in a timely manner. Policies are needed to make climate-friendly and
                    sustainable action simple and cost-effective, and climate-damaging action unattractive and expensive. Examples include effective CO<sub>2</sub> prices and
                    regulations; cessation of subsidies for climate-damaging actions and products; efficiency standards; social innovations; and massive, directed investment in
                    solutions such as renewable energy, cross-sector electrification, public transport infrastructure, and demand reduction.&nbsp;A socially fair distribution of
                    the costs and benefits of climate action will require deliberate attention, but it is both possible and essential.</p>

                <p>The enormous grassroots mobilization of the youth climate movement—variously known as e.g. Fridays for Future, School (or Youth) Strike 4 Climate, Youth for (or
                    4) Climate, Youth Climate Strike—shows that young people understand the situation. We approve and support their demand for rapid and forceful action. We see it
                    as our social, ethical, and scholarly responsibility to state in no uncertain terms: Only if humanity acts quickly and resolutely can we limit global warming,
                    halt the ongoing mass extinction of animal and plant species, and preserve the natural basis for the food supply and well-being of present and future
                    generations. This is what the young people want to achieve. They deserve our respect and full support.</p>

                <p>AUTHORS: Gregor Hagedorn, Peter Kalmus, Michael Mann, Sara Vicca, Joke Van den Berge, Jean-Pascal van Ypersele, Dominique Bourg, Jan Rotmans, Roope Kaaronen,
                    Stefan Rahmstorf, Helga Kromp-Kolb, Gottfried Kirchengast, Reto Knutti, Sonia I. Seneviratne, Philippe Thalmann, Raven Cretney, Alison Green, Kevin Anderson,
                    Martin Hedberg, Douglas Nilsson, Amita Kuttner, Katharine Hayhoe</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_start(form) }}
                {{ form_row(form.titleBeforeName) }}
                {{ form_row(form.titleAfterName) }}
                {{ form_row(form.highestAcademicGraduation) }}
                {{ form_row(form.coAuthoredPublicationLink) }}
                {{ form_row(form.staffPageLink) }}
                {{ form_row(form.nameEmailOfSchoolarNowingYou) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.emailAddress) }}
                {{ form_row(form.graduationState) }}
                {{ form_row(form.publicationsState) }}
                {{ form_row(form.department) }}
                {{ form_row(form.organizationOrInstitute) }}
                {{ form_row(form.city) }}
                {{ form_row(form.state) }}
                {{ form_row(form.country) }}

                <div class="container">
                    <div class="row">
                        <div class="col">
                            {{ form_errors(form.isDataPolicyAccepted) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            {{ form_widget(form.isDataPolicyAccepted) }}
                        </div>
                        <div class="col-11">
                            <p>
                                I agree that my personal data are processed by Scientists for Future for the purpose of this campaign and the publication
                                together with this declaration. Further information about data privacy can be found in our <a
                                        href="https://scientistsforfuture.org/privacy-policy/">Privacy Policy</a>.
                            </p>
                        </div>
                    </div>
                </div>
                {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
