{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Successfully verified</h1>
        </div>
    </div>
</div>
{% endblock %}
